Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [1]:
import pandas as pd

In [22]:
df_log = pd.read_csv('visit_log.csv', sep = ';')

def sort_source(column):
    source = column['traffic_source'].lower()
    
    if source in ['yandex', 'google']:
        return 'organic'
    elif source in ['paid', 'email']:
        if column['region'] == 'Russia':
            return 'ad'
        else:
            return 'other'
    else:
        return column['traffic_source']

df_log['source_type'] = df_log.apply(sort_source, axis = 1)
df_log.head(30)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct
20,1549980816,de47c9b27e,https://host.ru/8fe7c39e5c598bbc54,Ukraine,2f25b6e26a,email,other
21,1549980823,c90232586b,https://host.ru/da83c74e35e7806fe0,Ukraine,a00405d70c,google,organic
22,1549980827,6a4875ddac,https://host.ru/f2297425e1328e9e35,Ukraine,ea1bf97284,yandex,organic
23,1549980839,015275e61f,https://host.ru/c8d9213a31839f9a3a,Russia,21bdc57777,email,ad
24,1549980842,9d908ecfb6,https://host.ru/ae8a036d7f44d0bcd9,China,583b1a1636,direct,direct
25,1549980844,61126de1b7,https://host.ru/060d9bdbcba66b8bb3,Russia,9de3f97d4f,direct,direct
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad
27,1549980853,ea49aa9f6f,https://host.ru/1afc5618562365020a,Russia,20e8e91ecf,email,ad
28,1549980862,3addfb141c,https://host.ru/186c4d6b47dbde0e74,Russia,3f64fc1a87,yandex,organic
29,1549980874,11e431c215,https://host.ru/05e41944dd85a900a6,Russia,a15f66b89b,paid,ad

Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [33]:
df_url = pd.read_csv('URLs.txt')
df_url['news'] = df_url['url'].str.contains(r'/\d{8}-', regex = True)
news_df = df_url[df_url['news']]
news_df['url'].head()

3    /politics/36188461-s-marta-zhizn-rossiyan-susc...
4    /world/36007585-tramp-pridumal-kak-reshit-ukra...
5    /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6    /video/36001498-poyavilis-pervye-podrobnosti-g...
7    /world/36007585-tramp-pridumal-kak-reshit-ukra...
Name: url, dtype: object

Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [88]:
df_ratings = pd.read_csv('ratings.csv')

grouped_ratings = df_ratings.groupby('userId')['rating'].count()
value_100 = grouped_ratings[grouped_ratings >100]

filtered_df = df_ratings[df_ratings['userId'].isin(value_100)]

alive_time = filtered_df.groupby('userId')['timestamp'].apply(lambda time: time.max() - time.min())
avg_time = alive_time.mean()
print(f'Среднее время жизни пользователя: {avg_time}')

Среднее время жизни пользователя: 19359647.850931678

Задание 4
Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.

К домашнему заданию №4
Дана статистика услуг перевозок клиентов компании по типам:

rzd - железнодорожные перевозки
auto - автомобильные перевозки
air - воздушные перевозки
client_base - адреса клиентов

In [89]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [90]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [91]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [92]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [97]:
table_with_adress = (
    client_base.merge(air, how = 'outer').merge
    (auto, how = 'outer').merge
    (rzd, how = 'outer')
)
table_with_adress

   client_id          address  air_revenue  auto_revenue  rzd_revenue
0        111  Комсомольская 4          NaN           NaN       1093.0
1        112   Энтузиастов 8а          NaN           NaN       2810.0
2        113  Левобережная 1а          NaN       57483.0      10283.0
3        114          Мира 14          NaN          83.0       5774.0
4        115        ЗЖБИиДК 1         81.0         912.0        981.0
5        116    Строителей 18          4.0        4834.0          NaN
6        117  Панфиловская 33         13.0          98.0          NaN
7        118     Мастеркова 4        173.0           NaN          NaN

In [99]:
table_without_adress = table_with_adress.drop('address', axis = 1)
table_without_adress

   client_id  air_revenue  auto_revenue  rzd_revenue
0        111          NaN           NaN       1093.0
1        112          NaN           NaN       2810.0
2        113          NaN       57483.0      10283.0
3        114          NaN          83.0       5774.0
4        115         81.0         912.0        981.0
5        116          4.0        4834.0          NaN
6        117         13.0          98.0          NaN
7        118        173.0           NaN          NaN