In [81]:
import pandas as pd

Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.

In [86]:
df_movie = pd.read_csv('movies.csv')
df_rating = pd.read_csv('ratings.csv')
movie_rating = df_movie.merge(df_rating, on = 'movieId')
def movie_class(rating):
    if rating <= 2:
        return 'low'
    elif rating < 4.5:
        return 'medium'
    else:
        return 'high'
movie_rating['class'] = movie_rating['rating'].apply(movie_class)
movie_rating.head()

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,medium
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,medium
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,high
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,low
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,medium

Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [77]:
df_keywords = pd.read_csv('keywords.csv')
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def geo_class(row):
    #переводим тип данных стобцов в строки
    text = str(row['keyword']).lower()
    
    for k, v in geo_data.items():
        for city in v:
            if city.lower() in text:
                return k
    return 'undefined'

df_keywords['region'] = df_keywords.apply(geo_class, axis = 1)
df_keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

Задание 3 (бонусное)

Есть мнение, что раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия: файл movies.csv и ratings.csv из базы. Нужно проверить, верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

Вы не будете затрагивать субьективные факторы выставления этих рейтингов, а пройдётесь по алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010 года.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте алгоритм:

для каждой строки пройдите по всем годам списка years;
если номер года присутствует в названии фильма, то функция возвращает этот год, как год выпуска;
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [162]:
df_film = pd.read_csv('../dz-1/movies.csv')
df_film_rating = pd.read_csv('../dz-1/ratings.csv')

full_info = df_film.merge(df_film_rating, on = 'movieId')

years = list(range(1950, 2011))

def production_year(row):
    title = row['title']
    for year in years:
        if str(year) in title:
            return year
    return 1900

full_info['year'] = full_info.apply(production_year, axis = 1)

group_info = full_info.groupby(by = ['year']).agg({'rating' : 'mean'})
result = group_info.sort_values('rating', ascending = False)
result.head(15)

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293
1964  3.940160
1974  3.935622
1967  3.922572
1975  3.879121
1958  3.842424
1971  3.841463
1966  3.823684
1950  3.813665
1968  3.812212
1977  3.810406

Вывод: опираясь на составленную таблицу result, можно сказать, что средний рейтинг фильма никак не зависит от года выпуска, и рейтинг фильмов, который был снят в болеее ранние года не отличается от рейтинга более современных фильмов. Гипотеза опровергнута.